@charset "utf-8";
/**
 * 最终汇总模块单元样式-首页
 * @author	Panny(songyuanlu)
 */
/** var */
/**
 * 定义公用变量
 * @by songyunalu
 */
/*-- 基础颜色规范（以颜色值命名） --*/
/* 灰色 */
/* 红色1 */
/*-- 颜色值具体使用场景：c-使用的元素-使用的场景，如c-input-hover --*/
/*链接*/
/*--字体--*/
/*--图片地址--*/
/*--media--*/
/*--z-index--*/
/** 样式 */
body {
  background: orange;
}
/** 详情 */
.detail {
  background: url('@sprite-img/release-icons/address.png');
}
.detail1 {
  background: url('@sprite-img/release-icons/address.png');
}
