@charset "utf-8";
/**
 * 最终汇总模块单元样式-首页
 * @author	Panny(songyuanlu)
 */
/** var */
/**
 * 公用变量
 * @author	HuiminPan(潘慧敏)
 */
/*-- 基础颜色规范（以颜色值命名） --*/
/* 灰色 */
/* 浅灰色 */
/* 灰绿 */
/* 绿色 */
/* 红色 */
/* 红色1 */
/* 灰色1 */
/* 灰色边线 */
/* 灰色文字 */
/* 灰色文字 */
/* 橙色ff9e4f */
/*-- 颜色值具体使用场景：color-使用的元素-使用的场景，如color-input-hover --*/
/*链接*/
/*--字体--*/
/*--图片地址--*/
/*--media--*/
/*--z-index--*/
/** 样式 */
body {
  background: orange;
}
/** 详情 */
/*--发布活动--*/
.gui-radio {
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 14px;
  padding: 2px;
  border: 1px solid #a1a1a1;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}
.gui-radio > p {
  display: inline-block;
  vertical-align: top;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}
.gui-radio[checked="checked"] > p {
  background-color: #ff544f;
}
.gui-radio input[type="radio"] {
  display: none;
  opacity: 0;
}
.gui-radio input[type="radio"]:checked + p {
  background-color: #ff544f;
}
.gui-r-checkbox {
  height: 36px;
  line-height: 34px;
  text-align: center;
  font-size: 14px;
  border-radius: 17px;
  color: #a1a1a1;
  border: 1px solid #a1a1a1;
  position: relative;
}
.gui-r-checkbox p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.gui-r-checkbox i {
  display: none;
  position: absolute;
  left: 6px;
  top: -8px;
  width: 16px;
  height: 16px;
  background-image: url('../images/sprites/release-icons/checkbox.png');
  background-repeat: no-repeat;
}
.gui-r-checkbox[checked="checked"] {
  color: #ff544f;
  border: 1px solid #ff544f;
}
.gui-r-checkbox[checked="checked"] i {
  display: inline-block;
}
.gui-s-foot {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
}
.gui-s-foot > div {
  height: 47px;
  font-size: 14px;
  line-height: 46px;
  text-align: center;
  color: #222;
  border-bottom: 1px solid #eaeaea;
}
.gui-s-foot > div:last-child {
  border-bottom: none;
}
.gui-mask-r {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 900;
  background-color: rgba(0, 0, 0, 0.84);
}
.gui-pop-tips {
  font-size: 14px;
  position: absolute;
  top: 50%;
  right: 10%;
  left: 10%;
  margin-top: -95px;
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
}
.gui-pop-tips h2 {
  height: 56px;
  line-height: 56px;
  text-align: center;
  color: #fff;
  border-radius: 4px 4px 0 0;
  background-color: #ff544f;
}
.gui-pop-tips .con {
  padding: 20px 10px;
}
.gui-pop-tips .con input {
  display: block;
  width: 100%;
  height: 46px;
  padding: 0 15px;
  border-radius: 4px;
  font-size: 14px;
  border: none;
  background-color: #f2f2f2;
}
.gui-pop-tips .btn-box {
  height: 47px;
  padding: 2px 0;
  border-top: 1px solid #eaeaea;
  display: -webkit-box;
  text-align: center;
  line-height: 42px;
}
.gui-pop-tips .btn-box .btn {
  color: #222;
  -webkit-box-flex: 1;
  border-left: 1px solid #eaeaea;
}
.gui-pop-tips .btn-box .btn:first-child {
  border-left: none;
}
.gui-pop-tips .btn-box .btn[data-type="confirm"] {
  color: #ff544f;
}
[class^="icons-r-"] {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
}
.icons-r-type {
  background-image: url('../images/sprites/release-icons/type.png');
}
.icons-r-label {
  background-image: url('../images/sprites/release-icons/label.png');
}
.icons-r-title {
  background-image: url('../images/sprites/release-icons/title.png');
}
.icons-r-timeS {
  background-image: url('../images/sprites/release-icons/time_start.png');
}
.icons-r-timeE {
  background-image: url('../images/sprites/release-icons/time_end.png');
}
.icons-r-address {
  background-image: url('../images/sprites/release-icons/address.png');
}
.icons-r-man {
  background-image: url('../images/sprites/release-icons/man.png');
}
.icons-r-money {
  background-image: url('../images/sprites/release-icons/money.png');
}
.icons-r-group {
  background-image: url('../images/sprites/release-icons/group.png');
}
.icons-r-per {
  background-image: url('../images/sprites/release-icons/per.png');
}
.icons-r-wx {
  background-image: url('../images/sprites/release-icons/wx.png');
}
.icons-r-loop {
  background-image: url('../images/sprites/release-icons/loop.png');
}
.icons-r-on {
  background-image: url('../images/sprites/release-icons/select_on.png');
}
.pg-release {
  top: 0;
  padding-top: 48px;
  bottom: 0;
  background-color: #fff;
}
.pg-release .release-con {
  background: #f2f2f2;
}
.pg-release [class^="icons-r-"] {
  margin-right: 6px;
}
.pg-release.pg-release-pt0 {
  padding-top: 0;
}
.pg-release.pg-release-gray {
  background-color: #f2f2f2;
}
.release-btn {
  width: 54%;
  margin: 0 auto;
  padding-top: 20px;
}
.release-btn a {
  display: block;
  margin-top: 30px;
  height: 42px;
  line-height: 38px;
  text-align: center;
  color: #ff544f;
  font-size: 14px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #ff544f;
}
.release-btn a.on,
.release-btn a:active {
  color: #fff;
  background-color: #ff544f;
}
.release-btn a.btn-orange {
  color: #fff;
  background-color: #ff9e4f;
  border: 1px solid #ff9e4f;
}
.release-btn a i {
  display: inline-block;
  vertical-align: top;
  margin-top: 9px;
  margin-right: 6px;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
}
.release-btn a.personal i {
  background-image: url('../images/sprites/release-icons/s0.png');
}
.release-btn a.group i {
  background-image: url('../images/sprites/release-icons/s1.png');
}
.release-btn a.personal.on i,
.release-btn a.personal:active i {
  background-image: url('../images/sprites/release-icons/s0_on.png');
}
.release-btn a.group.on i,
.release-btn a.group:active i {
  background-image: url('../images/sprites/release-icons/s1_on.png');
}
.release-step-0 .horn {
  margin: 0 20px;
  padding-left: 60px;
  margin-top: 38px;
  min-height: 45px;
  color: #a1a1a1;
  background-image: url('../images/horn.png');
  background-repeat: no-repeat;
}
.form-title {
  padding: 6px 20px 0;
  font-size: 14px;
  line-height: 36px;
  color: #a1a1a1;
}
.release-form {
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  background-color: #fff;
  line-height: 46px;
  font-size: 14px;
}
.release-form li,
.release-form .list {
  border-bottom: 1px solid #eaeaea;
}
.release-form li:last-child,
.release-form .list:last-child {
  border-bottom: none;
}
.release-form a,
.release-form label {
  display: block;
  padding: 0 20px;
  color: #a1a1a1;
}
.release-form .list-text {
  padding: 10px 20px;
  line-height: 150%;
}
.release-form .list-text label {
  float: left;
  width: 50%;
  padding: 0;
}
.release-form .dt {
  float: left;
}
.release-form .dd {
  float: right;
}
.release-form .dd > p {
  padding: 12px 0;
  line-height: 22px;
}
.release-pic {
  height: 160px;
  padding-top: 84px;
  background-image: url('../images/release_default_pic.png');
  background-repeat: no-repeat;
  background-position: center 0;
  overflow: hidden;
}
.release-pic input {
  -webkit-appearance: none;
  border: none;
  display: block;
  width: 78%;
  height: 38px;
  color: #a1a1a1;
  font-size: 14px;
  margin: 0 auto;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  background: #fff;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.35);
}
.release-pic.pt0 {
  padding-top: 0;
}
.release-pic img {
  vertical-align: top;
  width: 100%;
  max-height: 100%;
}
.release-step-1 .release-form {
  margin-top: 10px;
}
.release-step-1 .release-form [data-type="link"] .dt {
  color: #222;
  font-weight: bold;
}
.release-step-1 .release-form [data-type="link"] .dd {
  padding-right: 25px;
  position: relative;
}
.release-step-1 .release-form [data-type="link"] .dd::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -8px;
  display: inline-block;
  width: 8px;
  height: 16px;
  background-image: url('../images/sprites/global/arrow.png');
  background-repeat: no-repeat;
}
.chcekbox-list {
  padding: 15px 8px 0;
}
.chcekbox-list li {
  float: left;
  padding: 10px 5px;
}
.chcekbox-list.list-4 li {
  width: 25%;
}
.chcekbox-list.list-2 li {
  width: 50%;
  padding: 10px;
}
.add-checkbox {
  padding: 10px 8px;
}
.add-checkbox p {
  display: inline-block;
  height: 36px;
  line-height: 34px;
  text-align: center;
  font-size: 14px;
  border-radius: 17px;
  padding: 0 16px;
  color: #a1a1a1;
  border: 1px dashed #a1a1a1;
}
input[type="date"] {
  background: url('../images/date.png') right center no-repeat;
}
.release-step-2 .release-form {
  margin-bottom: 10px;
}
.release-step-2 .release-form .dt {
  width: 100px;
  color: #222;
  font-weight: bold;
}
.release-step-2 .release-form .dt + .dd {
  margin-left: 100px;
}
.release-step-2 .release-form .dt.dt-2 {
  width: 70px;
}
.release-step-2 .release-form .dt.dt-2 + .dd {
  margin-left: 70px;
}
.release-step-2 .release-form .dd {
  float: initial;
}
.release-step-2 .release-form input[type="text"],
.release-step-2 .release-form [type="date"],
.release-step-2 .release-form [type="tel"],
.release-step-2 .release-form [type="number"] {
  -webkit-appearance: none;
  vertical-align: middle;
  width: 100%;
  height: 40px;
  font-size: 14px;
  color: #a1a1a1;
  border: none;
}
.release-step-2 .release-form .s-raido {
  margin-top: 10px;
}
.release-step-2 .release-form .gui-radio {
  margin-left: 5px;
}
.release-step-2 .chcekbox-list {
  padding-top: 0;
}
.add-man-number {
  margin-top: 20px;
  font-size: 14px;
  padding: 11px 18px;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  background-color: #fff;
}
.add-man-number span {
  color: #222;
}
.release-success {
  text-align: center;
}
.release-success h1 {
  font-size: 16px;
  margin-top: 20px;
  color: #222;
}
.release-success .img {
  display: inline-block;
  vertical-align: top;
  width: 149px;
  height: 149px;
  background: url('../images/release_success.png') no-repeat;
}
.release-success .release-btn {
  padding-top: 0;
}
.gui-invi-tips {
  width: 323px;
  height: 372px;
  text-align: center;
  padding: 72% 20% 0;
  font-size: 14px;
  color: #fff;
  background-image: url('../images/share_tips.png');
  background-repeat: no-repeat;
  background-size: 86% auto;
  background-position: center 20px;
}
.release-friend .release-form {
  margin-top: 0;
}
textarea.release {
  padding: 8px 20px;
  min-height: 100px;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  border-left: initial;
  border-right: initial;
  border-radius: initial;
}
textarea.release::-webkit-input-placeholder {
  color: #a1a1a1;
}
.btn-foot-3 {
  text-align: right;
  margin-top: 20px;
}
.btn-foot-3 a {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  padding: 0 20px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  color: #ff544f;
  font-size: 14px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #ff544f;
}
.btn-foot-3 a.on,
.btn-foot-3 a:active {
  color: #fff;
  background-color: #ff544f;
}
.gui-foot-btn {
  height: 46px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  line-height: 46px;
  color: #fff;
  font-size: 14px;
  background-color: #ff544f;
}
.gui-foot-box {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 5px 20px;
  border-top: 1px solid #eaeaea;
  background-color: #fff;
}
.gui-foot-box a {
  min-width: 58px;
  display: inline-block;
  vertical-align: top;
  padding: 0 20px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  color: #ff544f;
  font-size: 14px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #ff544f;
}
.gui-foot-box a.on,
.gui-foot-box a:active {
  color: #fff;
  background-color: #ff544f;
}
.pg-b46 {
  bottom: 46px;
}
.pg-b51 {
  bottom: 51px;
}
.list-group {
  margin-top: 15px;
  font-size: 14px;
  color: #a1a1a1;
  border-top: 1px solid #eaeaea;
}
.list-group li {
  position: relative;
  height: 45px;
  line-height: 44px;
  padding: 0 50px 0 20px;
  border-bottom: 1px solid #eaeaea;
}
.list-group li .icons-r-on {
  display: none;
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -10px;
}
.list-group li.on .icons-r-on {
  display: inline-block;
}
.release-title {
  font-size: 14px;
  line-height: 44px;
  padding: 0 20px;
  color: #222;
}
.release-about {
  padding: 5px 20px 15px;
  background-color: #fff;
  font-size: 14px;
}
.release-about .title {
  line-height: 34px;
  color: #222;
}
.release-about .texts {
  color: #a1a1a1;
}
.btn-add-member {
  position: absolute;
  right: 10px;
  bottom: 60px;
  display: inline-block;
  padding: 0 10px;
  height: 32px;
  font-size: 14px;
  line-height: 32px;
  color: #a1a1a1;
  text-align: center;
  border-radius: 2px;
  border: 1px solid #a1a1a1;
  background-color: #3d4544;
}
/*--发布活动 end--*/
