@charset "utf-8";
/**
 * 最终汇总公共样式
 * @author	Panny(songyuanlu)
 */
/** var */
/**
 * 公用变量
 * @author	HuiminPan(潘慧敏)
 */
/*-- 基础颜色规范（以颜色值命名） --*/
/* 灰色 */
/* 浅灰色 */
/* 灰绿 */
/* 绿色 */
/* 红色 */
/* 红色1 */
/* 灰色1 */
/* 灰色边线 */
/* 灰色文字 */
/* 灰色文字 */
/* 橙色ff9e4f */
/*-- 颜色值具体使用场景：color-使用的元素-使用的场景，如color-input-hover --*/
/*链接*/
/*--字体--*/
/*--图片地址--*/
/*--media--*/
/*--z-index--*/
/** Reset */
.reset {
  background: #fff;
}
/** 页面整体布局及全局基础样式 */
.public {
  background: #fff;
}
/** 公共UI样式 */
.public {
  background: #fff;
}
/** 公共头样式 */
.ui-loading {
  background: #fff;
}
.ui-header {
  background: #fff;
}
.login-form {
  background: #fff;
}
.reg-list {
  background: #fff;
}
/** 公共底样式 */
.footer {
  background: #fff;
  background: red;
}
