@charset "utf-8";
/**
 * 最终汇总公共样式
 * @author	Panny(songyuanlu)
 */
/** var */
/**
 * 定义公用变量
 * @by songyunalu
 */
/*-- 基础颜色规范（以颜色值命名） --*/
/*--字体--*/
/*--图片地址--*/
/*--media--*/
/*--z-index--*/
/** Reset */
/**
 * 定义全局reset样式
 * @by songyunalu
 */
/**pc reset*******************************************/
* {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
address,
cite,
dfn,
em,
var,
i {
  font-style: normal;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  border: 0;
}
button,
input,
select,
textarea {
  font-size: inherit;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #bbb;
}
body {
  font-family: arial, 'Microsoft Yahei';
  font-size: 14px;
  color: #333;
}
a {
  color: #666;
  text-decoration: none;
}
:focus {
  outline: 0;
}
.fn-c {
  zoom: 1;
}
.fn-c:after {
  content: '';
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  line-height: 0;
  font-size: 0;
}
.fn-l {
  float: left;
}
.fn-r {
  float: right;
}
.fn-hide {
  display: none!important;
}
.fn-show {
  display: block!important;
}
.tac {
  text-align: center;
}
.tal {
  text-align: left;
}
.tar {
  text-align: right;
}
/*********************************************/
/** 页面整体布局及全局基础样式 */
/**
 * 定义布局样式
 * @by songyunalu
 */
/** 公共UI样式 */
/**
 * 定义公用样式,如loading mask
 * @by songyunalu
 */
.ui-loading {
  background-color: red;
}
/** 公共头样式 */
/**
 * 定义头样式
 * @by songyunalu
 */
/** 公共底样式 */
/**
 * 定义底部样式，
 * @by songyunalu
 */
